 body {
      background-color: #ffffff;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .login-container {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .login-card {
      width: 90%;
      max-width: 900px;
      background-color: #fff;
      box-shadow: 0 4px 20px rgba(0,0,0,0.1);
      border-radius: 8px;
      overflow: hidden;
    }


    .login-form {
      padding: 50px;
    }

    .login-form h3 {
      font-weight: bold;
      margin-bottom: 30px;
    }

    .form-control {
      border-radius: 5px;
        border: 1px solid #0a0909!important;
    }

    .btn-login {
      background-color: #0a2b8c;
      color: white;
      border-radius: 25px;
      padding: 10px 20px;
      border: none;
    }
.forgot {
      font-size: 0.9rem;
      color: gray;
    }

    .d-grid a{
      text-decoration: none!important;
    }