 body {
      background-color: #ffffff;
        font-family: 'Inter', sans-serif;
    }
    .signup-container {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .signup-box {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      max-width: 950px;
      width: 100%;
    }
    
    .signup-form {
      padding: 60px 50px;
    }
    .signup-form h2 {
      font-weight: bold;
      margin-bottom: 30px;
    }
    .form-check-label {
      font-size: 0.9rem;
    }
    .form-control {
      border: 1px solid #0b0c0c!important;
      border-radius: 8px;
    }
    .form-check-input {
       border: 1px solid #0b0c0c!important;
    }
    .btn-register {
      background-color: #2231d1!important;
      color: #fff!important;
      width: 80%;
      font-weight: 600;
        border-radius: 8px;
        margin-left: 10px;
    }
    